/* .thead-dark{
    color: #6FC283;
    color:#2E5537;
} */
/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #6BA8ED;
 
} */
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #D8E3F0;
  
}
.header{
    background-color: #043164;
    color : #D8E3F0;}
/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n-1) > th {
    background-color: #6BA8ED;
 } */
 h1{
  color: #DDFDFF;
}