/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap.min.css';
@import '../node_modules/toastr/build/toastr.min.css';
body{
    background-image: url("./assets/home.jpg");
    background-color:#CFFAD9;
    color: #000C1C;
    }
