h1{
    text-align:center
}

.title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .movie {
    border: solid 2px black;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
  }
  h1{
    color: #DDFDFF;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #D8E3F0;
  
}
.header{
    background-color: #043164;
    color : #D8E3F0;}