 <h1>Mess Finder</h1>
  <div class="container">
<div>
  <img src="./assets/logo.png" class="center">
</div>

    <div class="row">
      
        <h2><strong>"A fit, healthy body—that is the best fashion statement”</strong></h2>
       <h3> <p><strong>
            Better health is central to human happiness and well-being. It also makes an important contribution to</strong></p>
            <p> <strong>economic progress, as healthy populations live longer, are more productive, and save more.</strong></p>
        
         <p><strong>Many factors influence health status and a country's ability to provide quality health services for its</strong></p>  
         <p><strong> people.</strong></p>
        </h3>
    </div>
    

        <footer class="foot">
          <p>Posted by: Shripad Malekar</p>
          <p>Contact information: <a href="mailto:messfinder@mess.com">messfinder@mess.com</a>.</p>
        </footer>
        
      
    
  </div>
  