<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <!-- <li><a routerLink="/user-login">LogIn</a></li> -->
            <!-- <li><a routerLink="/user-register">Register</a></li> -->
            <li><a routerLink="/category-list">Category</a></li>
            <li><a routerLink="/post_ad-list">Post Ad</a></li>
            <li><a routerLink="/userList-list">Users</a></li>
            <li><a routerLink="/product-list">Products</a></li>


          </ul>
        </div>
    </div>
  </nav>
  <h1>Mess Finder</h1>
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
