<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/userordered-list">user order's</a></li>
      <li><a href="/messorder-list">mess order's</a></li>
      <li><a href="/orders-list">all order's</a></li>
      <li><a href="/category-list">category</a></li>
      <li><a href="/app-addcategory"> add new_category </a></li>
      <li><a href="/food-list">food list</a></li>
      <li><a href="/food-add">add food </a></li>
      <li><a href="/create-menu">create today's menu</a></li>
      <li><a href="/todaymenu-list">today's menu's</a></li>
      <li><a href="/user-list">user's</a></li>
      <li><a href="/mess-list">mess list</a></li>
         </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="user-registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="user-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>



<div >
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
</div>